<!DOCTYPE html>
<html ng-app="plunker">

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <title>Salesforce Trailhead</title>

    <link rel="stylesheet" media="screen" href="https://trailhead.salesforce.com/assets/application-9d9f67e42b7281eee2b880088986126e7c8cbc5eda1e83b4ba83b0fc3d23b24a.css">
    <script src="https://trailhead.salesforce.com/assets/th/holygrail-06681aea70495ed07e71701233c8acabd62bad85d131b577c78452340ed4ced9.js"></script>
    <link href="https://trailhead.salesforce.com/en/modules/apex_database/units/apex_database_dml" rel="canonical">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css" />
    <script src="https://code.angularjs.org/1.3.20/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>
    <script src="https://rawgit.com/christopherthielen/ui-router-extras/0.1.3/release/ct-ui-router-extras.js"></script>
    <script src="app.js"></script>
</head>

<body class=" trailhead-locale-en" id="apex_database_dml_learning_objectives" ng-controller="main">

    <link rel="stylesheet" media="all" href="https://trailhead.salesforce.com/assets/trailhead_app/launch_org_button-36990ac7bcba1c4472c2f95074e8c8a64997a7ab20f376bf693105806bb2f5c9.css">
    <main class="">
        <div class="light-bg">
            <div class="container unit-content-container">
                <div class="row padding-xxl">
                    <div class="span3 links">
                        <ul>
                            <li ng-repeat="module in modules">
                                <div ng-click="module.isCollapsed = !module.isCollapsed;">
                                    <i class="fa" ng-class="module.isCollapsed?'fa-plus-square-o':'fa-minus-square-o'" aria-hidden="true" ></i>
                                    <span>{{module.name}}</span>
                                </div>
                                <ul ng-show="!module.isCollapsed">
                                    <li ui-sref="{{state.name}}" ng-repeat="state in module.states">
                                        {{state.name}}
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="span9" ui-view syntax-highlighter>

                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://trailhead.salesforce.com/assets/favorites-115dbe513a5ef16c1f7e8b5fb721371908c8387ff00a5e6f4f6298b5cbbcfadb.js"></script>
    <script src="https://trailhead.salesforce.com/assets/th/addthisconfig-721a3340ff0538d5eaea102af5bb7ee61a0a8578fc57053cd2116dd757a63cc5.js"></script>
    <script src="https://trailhead.salesforce.com/assets/addthis_widget-81c7347645d449a65d8d21567b33e6c81f122f82b20f93c4282ad09dea7783a0.js"></script>

    <script src="https://trailhead.salesforce.com/assets/trailhead_app/application-42819cca2e1b526fd7bd474a59e13d0a55643bd9570eda90fe51bf7646c13f59.js"></script>
    <script src="https://trailhead.salesforce.com/assets/th/trailhead_unit-855d92b3c6f256c00a4e910550565cb9cccce6215b8a7051470de59c3a138cfd.js"></script>
    <script src="https://trailhead.salesforce.com/assets/syntax-highlighter.min-d523eda6a0f43702c7c1f1b212a445fa1aed19d9d626b05d8b2ee863931a6f0e.js"></script>
    <link rel="stylesheet" media="all" href="https://trailhead.salesforce.com/assets/syntax-highlighter/includes-9109028c279a8e669a59cfc8fa310003504938e310de0b3b4fc4e5323ac81dfb.css">
    <!-- <script>
    (function() {
        // fix code snippets
        $.each($('pre'), function(index, item) {
            $(item).html($(item).html().replace(/<[^>]+>/gi, ''));
        });

        $('pre').addClass('brush: apex;');
        SyntaxHighlighter.config.clipboardSwf = "https://trailhead.salesforce.com/assets/clipboard-583bcb178f3e17f27a8042d7eea29f8c9c039b17aa3cbf8bdfa8442ab264191e.swf";
        SyntaxHighlighter.highlight();
    })();
    </script> -->

</body>

</html>