/* Put your css in here */
.links ul, .links ul ul{
    list-style: none;
    padding: 0;
}

.links ul ul li{
    cursor: pointer;
}
.links ul ul li:hover{
    background-color: #ddd;
}

.links ul li, .links ul ul li{
    padding: 5px 10px;
}
.links ul li div{
    background-color: #efefef;
}

